<section>
	<h2>Welcome to {{lesson.languag}} lesson!</h2>
    <h6>teacher: {{lesson.teacherUserName}}</h6>
    <h6>student: {{lesson.studentUserName}}</h6>
    <h6>date: {{lesson.date}}</h6>
    <h6>time: {{lesson.tim}}</h6>
</section>
<section class="login-form">
	<!-- <div> -->
        <div id="container">
            <div id="subVideo">
                <video autoplay id="remoteVideo"></video>
            </div>
            <video autoplay id="localVideo"></video>
        </div>
   <!--  </div> -->
    <!-- <div>
      <button id="startButton">Start</button>
      <button id="callButton">Call</button>
      <button id="hangupButton">Hang Up</button>
    </div> -->
    <div class="wchat">
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    	<p><strong>blablalba:</strong> rftgykhjk</p>
    </div>
    <form class="chat">
	    <div class="form-group">
			<input type="text" placeholder="You message..." class="form-control mes"/>
			<!-- <label class="login-field-icon fui-new"></label> -->
			<button class="btn btn-primary send">Send</button>
		</div>
	</form>

    <div ng-controller="rCtrl">
      <button id="startButton" ng-click="main()">Start</button>
      <!-- <button id="callButton" ng-click="main()">Call</button>
      <button id="hangupButton" ng-click="main()">Hang Up</button> -->
    </div>

	<!-- <div class="uinfo" ng-app="webrtcV0App" ng-controller="rCtrl" >
		<p>teacherUserName: {{lesson.teacherUserName}}</p>
		<p>studentUserName: {{lesson.studentUserName}}</p>
	</div> -->
</section>