<section ng-controller="rCtrl">
	<h2>Hello, {{user.uname}}!</h2>
</section>
<section class="login-form">
	<img src="http://upload.wikimedia.org/wikipedia/commons/2/27/Sherman_Profile.png" class="img-rounded img-responsive" />
	
	<div class="uinfo" ng-app="webrtcV0App" ng-controller="rCtrl" >
		<p><strong>User Name:</strong> {{user.uname}}</p>
		<p><strong>First Name:</strong> {{user.ufname}}</p>
		<p><strong>Last Name:</strong> {{user.ulname}}</p>
		<p><strong>Country:</strong> {{user.ucountry}}</p>
	</div>
</section>

<section class="login-form b" ng-controller="rCtrl">
	<table>
		<thead>
			<tr>
				<td colspan="5"><h4>Timetable</h4></td>
			</tr>
			<tr>
				<td>№</td>
				<td>Date</td>
				<td>Time</td>
				<td>Language</td>
				<td>Teacher</td>
				<td>Student</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="i in lesArray">
				<td>{{$index+1}}</td>
				<td>{{i.date}}</td>
				<td>{{i.tim}}</td>
				<td>{{i.languag}}</td>
				<td><a href="#">{{i.teacher.teacheUserNAme}}</a></td>
				<td><a href="#">{{i.student.studentUserName}}</a></td>
			</tr>
			<!-- <tr>
				<td>i</td>
				<td>01.01.2001</td>
				<td>13.27</td>
				<td>Deutch</td>
				<td><a href="#">MyTeacher</a></td>
				<td><a href="#">MyStudent</a></td>
			</tr>
			<tr>
				<td>i</td>
				<td>15.01.1559</td>
				<td>12.00</td>
				<td>English</td>
				<td><a href="#">ElizabethII</a></td>
				<td><a href="#">MyStudent</a></td>
			</tr>
			<tr>
				<td>i</td>
				<td>01.06.1723</td>
				<td>17.23</td>
				<td>Deutch</td>
				<td><a href="#">J.S.Bach</a></td>
				<td><a href="#">MyStudent</a></td>
			</tr>
			<tr>
				<td>i</td>
				<td>01.01.2001</td>
				<td>13.27</td>
				<td>French</td>
				<td><a href="#">NapoleonB</a></td>
				<td><a href="#">MyStudent</a></td>
			</tr>
			<tr>
				<td>i</td>
				<td>01.01.2001</td>
				<td>13.27</td>
				<td>Scandinavian</td>
				<td><a href="#">Odin265</a></td>
				<td><a href="#">MyStudent</a></td>
			</tr> -->
		</tbody>
	</table>
<!-- </section>
<section ng-controller="rCtrl"> -->
	<!-- <button class="btn btn-lg btn-primary" ng-click="loadLessons()">load Lessons</button> -->
	<div id="addlesson" class="btn btn-primary" ng-click="addLesson()">Create new lesson</div>
	<div id="inviz">
		<form class="login-form" ng-submit="createLesson()">
        	<div class="form-group">
          		<input id="login-name _login" type="text" class="form-control login-field" placeholder="Enter your student username" ng-model="studentUserName" required />
      			<label class="login-field-icon fui-user"></label>
        	</div>
        	<div class="form-group">
          		<input id="login-name _login" type="text" class="form-control login-field" placeholder="Enter language" ng-model="languag" required />
      			<label class="login-field-icon fui-user"></label>
      			<!-- <select id="login-name _login" class="form-control login-field">
      				<option>English</option>
      				<option>Deutch</option>
      				<option>Franch</option>
      			</select> -->
        	</div>
        	<div class="form-group">
          		<input id="login-name _login" type="text" class="form-control login-field" placeholder="Enter date" ng-model="date" required />
      			<!-- <label class="login-field-icon fui-user"></label> -->
        	</div>
        	<div class="form-group">
          		<input id="login-name _login" type="text" class="form-control login-field" placeholder="Enter time" ng-model="tim" required />
      			<!-- <label class="login-field-icon fui-user"></label> -->
        	</div>
            <button id="login" type="submit" class="btn btn-primary btn-lg btn-block">Create</button>
      </form>
	</div>
</section>
<section class="login-form">
	<ul>
		<li>
			<blockquote class="comment">
				<p><a href="">Vasia</a></p>
				<p>Krutoi prepod!!!!11</p>
				<Date>01.01.1001 12:58:93</Date>
			</blockquote> 
		</li>
		<li>
			<blockquote class="comment">
				<p><a href="">Vasia</a></p>
				<p>Krutoi prepod!!!!11</p>
				<Date>01.01.1001 12:58:93</Date>
			</blockquote> 
		</li>
		<li>
			<blockquote class="comment">
				<p><a href="">Vasia</a></p>
				<p>Krutoi prepod!!!!11</p>
				<Date>01.01.1001 12:58:93</Date>
			</blockquote> 
		</li>
	</ul>
	<div class="form-group">
		<textarea placeholder="Comment" class="form-control"></textarea>
		<label class="login-field-icon fui-new"></label>
	</div>
	<input class="btn btn-lg btn-primary" type="submit" value="Send">
</section>
<!-- <section ng-controller="rCtrl">
	<button class="btn btn-lg btn-primary" ng-click="loadLessons()">load Lessons</button>
</section> -->