<section>
	<h2>Hello, William!</h2>
</section>
<section class="login-form userinfo" id="l">
	<img src="http://upload.wikimedia.org/wikipedia/commons/2/27/Sherman_Profile.png" class="img-rounded img-responsive" />
	<div class="uinfo">
		<p><strong>Name:</strong> William</p>
		<p><strong>Last name:</strong> Sherman</p>
		<p><strong>Country:</strong> USA</p>
		<p><strong>Status:</strong> teacher</p>
	</div>
</section>
<section id="r">
	<table>
		<thead>
			<tr>
				<td colspan="5">Timetable</td>
			</tr>
			<tr>
				<td>№</td>
				<td>Date(Time)</td>
				<td>Language</td>
				<td>Teacher</td>
				<td>Note</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>i</td>
				<td>01.01.2001(13.27)</td>
				<td>Deutch</td>
				<td><a href="#">MyTeacher</a></td>
				<td>...</td>
			</tr>
			<tr>
				<td>i</td>
				<td>15.01.1559(12.00)</td>
				<td>English</td>
				<td><a href="#">ElizabethII</a></td>
				<td>...</td>
			</tr>
			<tr>
				<td>i</td>
				<td>01.06.1723(17.23)</td>
				<td>Deutch</td>
				<td><a href="#">J.S.Bach</a></td>
				<td>...</td>
			</tr>
			<tr>
				<td>i</td>
				<td>01.01.2001(13.27)</td>
				<td>French</td>
				<td><a href="#">NapoleonB</a></td>
				<td>...</td>
			</tr>
			<tr>
				<td>i</td>
				<td>01.01.2001(13.27)</td>
				<td>Scandinavian</td>
				<td><a href="#">Odin265</a></td>
				<td>...</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><a href="#"></a></td>
				<td>+</td>
			</tr>
		</tbody>
	</table>
</section>
<section class="login-form">
	<ul>
		<li>
			<blockquote class="comment">
				<p><a href="">Vasia</a> Krutoi prepod!!!!11</p>
				<Date>01.01.1001 12:58:93</Date>
			</blockquote> 
		</li>
		<li>
			<blockquote class="comment">
				<p><a href="">Vasia</a> Krutoi prepod!!!!11</p>
				<Date>01.01.1001 12:58:93</Date>
			</blockquote> 
		</li>
		<li>
			<blockquote class="comment">
				<p><a href="">Vasia</a> Krutoi prepod!!!!11</p>
				<Date>01.01.1001 12:58:93</Date>
			</blockquote> 
		</li>
	</ul>
	<div class="form-group">
		<textarea placeholder="Comment" class="form-control"></textarea>
		<label class="login-field-icon fui-new"></label>
	</div>
	<input class="btn btn-lg btn-primary" type="submit" value="Send">
</section>